[Unit]
Description=Servidor Vosk Speech-to-Text
After=network.target sound.target

[Service]
User=ainhur
WorkingDirectory=/home/ainhur/Documents/topibot
ExecStart=/home/ainhur/Documents/topibot/venv/bin/python3 /home/ainhur/Documents/topibot/stt_server.py
Restart=always
RestartSec=2
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
