[Unit]
Description=TopiBot Node Service
After=network.target stt.service
Requires=stt.service

[Service]
User=ainhur
WorkingDirectory=/home/ainhur/Documents/topibot
ExecStart=/usr/bin/node /home/ainhur/Documents/topibot/index.js
Restart=always
RestartSec=2
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
